.mainContainer{
            width: 100%;
            background-color:rgb(241, 243, 247);
            height: 100vh;
        text-align: center;
        padding: 2.5rem 2rem;

        }
h1,h2,h3,h4,h5,h6{
    font-weight:700;
}

.headingBox{
      color:black ;
    
}
p{
    margin: 10px 20px;
    padding: 10px 40px;
}

.heading{
    font-size:24px;
   
}
.subheading{
    margin-top: 10px;
    margin-bottom: 1.5rem;
}
.subheading{
    font-size: 32px;
}

.infomationBox{
    display: flex;
    justify-content: center;

}

svg
{width: 100%;    
}

.FindmoreButtonBox{
    margin: 20px ;
    padding: 20px;
}
.findmorebtn{
    background: royalblue;
        padding: 0.8rem 1.2rem;
        color: aliceblue;
        font-size: larger;
        border-radius: 10px;
        border:1px solid royalblue;
        transition: all 600ms ease;

}
.findmorebtn:hover{
    background:transparent ;
    color:royalblue;
}

@media only screen and (max-width: 600px) {
    .mainContainer{
     
        height: 160vh;
    text-align: center;
    padding: 2.5rem 2rem;

    }

    .infomationBox{
        display: flex;
        justify-content: center;
    flex-direction: column;
    gap: 30px;
    }

}


 
