.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  /* justify-content: center;*/
  align-items: center; 
  overflow: hidden;
  margin-bottom: 10px;
}

.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
 
}

.overlay {
  z-index: -1; 
  position: relative;
  right:990px;  
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center;
  align-items: center;
  text-align: center; */
  animation: slider 1s forwards;
color: white;
  background: rgba(0, 0, 0, 0.09);
  backdrop-filter: blur(5px);
  /* background : transparent; */
  border-radius:0px 10px 10px 0px; 
  padding: 98px;
}
@keyframes slider {
  0%{
        right: 990px;
     border-radius:0px 390px 390px 0px; 
     background: rgba(0, 0, 0, 0.01);

  }
 
  
  100%{
    right: 0px;
    border-radius:0px 10px 10px 0px; 
    background: rgba(0, 0, 0, 0.49);

  }
}

.textContainer {
  max-width: 800px;
  opacity: 0;
  animation: fade-out 7s forwards;
  
}
  @keyframes fade-out {
      0%{
          opacity: 0;

      }
     50% {
              opacity: 0.9;
      }
      100%{
          opacity: 1;
      }
  }
  
.mainTitle {
  font-size: 3rem;
  font-weight: bold;
}

.subTitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.statItem {
  text-align: center;
}

.statValue {
  font-size: 2.5rem;
  font-weight: bold;
}

.statLabel {
  font-size: 1rem;
}

.buttonGroup {
  display: flex;
  gap: 20px;
}

.buyNowButton, .viewAttractionsButton {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.buyNowButton {
  background-color: #00a2a5;
  color: white;
  border-radius: 5px;
}

.viewAttractionsButton {

  color: white;
  border: 2px solid white;
  border-radius: 5px;
  
}



.viewAttractionsButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  border-radius: 5px;
  background: transparent;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.viewAttractionsButton:hover {
  transform: translateY(5px);
}

.viewAttractionsButton::before {
  content: "";
  z-index: -1;
  position: absolute;
  background-image: conic-gradient(
    transparent 10deg,
    rgb(140, 223, 241),
    90deg,
    transparent 170deg
  );
  width: 200%;
  height: 500%;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.viewAttractionsButton:after {
  content: "View all attractions";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  background: rgba(255, 255, 255, 0.274);
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  color: #fff;
  font-size: clamp(0.9rem, 3vw, 1.2rem);
  border-radius: 5px;
  z-index: 1;
}









.extraImage {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 30%;
  object-fit: cover;
}
@media only screen and (max-width: 600px) {
  .mainTitle {
    font-size: 2.3rem;
   
   
  }
  .stats{
    display: flex;
    flex-direction: column;
  }
  .subTitle{
        font-size: 1.1rem;
  }


  .statValue {
    font-size: 1.5rem;
   
  }
  .statLabel{
    font-size:1.2rem;
  }

  .buttonGroup{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .overlay {
      padding: 130px 40px;
      border-radius:0px 0px 0px 0px;
  
  }
}