.navbar {
    padding: 5px 10px; 
    color: rgb(0, 0, 0); 

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    position: relative;
    background-color: white; /* Background color for navbar */
}

.container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.logo a {
    color: #000000; 
    text-decoration: none; 
    font-size: 28px; 
    font-weight: bold;
}

.nav-links {
    display: flex; 
    align-items: center; /* Center items within the nav links */
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none; 
    padding: 5px 15px; 
    margin: 10px 5px; 
    border-radius: 5px; 
    transition: background 0.3s, transform 0.2s; 
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #3498db; /* Highlight color on hover/focus */
    transform: translateY(-3px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

/* Mobile View */
@media only screen and (max-width: 600px) {
    .nav-links {
        display: none; /* Hide links on mobile by default */
        flex-direction: column; 
        position: absolute; /* Position below navbar */
        top: 50px; /* Position relative to navbar */
        right: 0; 
        background-color: white; /* Background for dropdown */
        width: 100%; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Dropdown shadow */
        z-index: 1; /* Ensure dropdown appears above other content */
    }

    .nav-links.active {
        display: flex; /* Show links when active */
    }

    .hamburger {
        display: flex; /* Show hamburger menu on mobile */
        flex-direction: column; 
        justify-content: space-between; 
        width: 30px; 
        height: 20px; 
        cursor: pointer; 
    }
}

.hamburger .bar {
    height: 3px; 
    background-color: black; /* Color for hamburger bars */
    margin: 3px 0; 
    transition: 0.4s; /* Smooth transition for menu toggle */
}
